body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 2rem;
}

.nav-link {
  margin-right: 25px;
  font-size: 1.2rem;
}

.footer-link {
  display: block;
  margin-bottom: 5px;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

rightsection-pad {
  padding-left: 12rem !important;
}

#supportpage {
  background-color: oklch(0.97 0 0);
}

#supportinput {
  border-radius: 5px;
  border: none;
  outline: none;
}
.accordion-body ul li:hover{
  color : black ;
  cursor: pointer;
}
/* Keep default arrow */

.custom-accordion-btn {
  padding: 0;
  background-color: white;
}

.icon-box {
  background-color: #e9f2ff;
  width: 70px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #dee2e6;
}

.icon-box i {
  font-size: 20px;
  color: #0d6efd;
}

.accordion-button:focus {
  box-shadow: none;
}
.accordion-button::after {
  margin-right: 10px;   /* increase this value if you want more gap */
}
.accordion-body ul a,li {
  text-decoration: none ;
  cursor : pointer ;
  margin : 15px 0px ;
}
.borderColor{
  border-left: 7px solid orange;
}
.borderBottom{
  border-bottom: 1px solid silver;
}
.link-hover:hover{
  color: black;
  cursor: pointer;
}
